.dropdown-trigger .button .icon {
  display: none !important;
}

.dropdown-trigger .button {
  border: none;
  font-size: 1.2em;
  height: 2.4em;
  width: 2em;
  line-height: 1;
  padding: 0;
  background: none;
  border: none;
  vertical-align: middle;
}

.table td {
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.table .crew-icon {
  padding: 1.2em !important;
}

.table th {
  text-align: center !important;
}
