@import 'react-bulma-components/dist/react-bulma-components.min.css';

.dropdown-trigger .button .icon {
  display: none !important;
}

.dropdown-trigger .button {
  border: none;
  font-size: 1.2em;
  height: 2.4em;
  width: 2em;
  line-height: 1;
  padding: 0;
  background: none;
  border: none;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
  padding: 0 !important;
}

.table thead th {
  width: 2em !important;
  line-height: 2em;
  font-size: 1em;
  text-align: center !important;
}
